{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Listagem de criança
{% endblock page_title %}


{% block content %}


    <h1> Listagem de Administrador</h1>

    <div class="search-container">
        <div class="container">
            <form action="{% url 'procurarAdmin' %}" method="GET" class="procurar-form">
                <label>
                    <input style="border-radius: 30px 0 0 30px; padding: 2px 0; padding-left: 10px" type="search"
                           class="procurar-input"
                           name="q" value=
                                   "{{ procurar_termo }}"
                           required>
                </label>
                <button style="background-color: #3F5CB0; color: white; margin: 0 0 5px -10px; border-radius: 0 10px
                10px 0;"
                        type="submit"
                        id="cor_btn"
                        class="btn
                btn-sm"
                        class="procurar-button"><i
                        class="fas
                fa-search"></i><img style="height: 20px; width: 20px" src="{% static 'imagens/lupa.svg' %}" alt="Icone
                 de
                lupa"></button>
            </form>
        </div>
    </div>

{% if adiminespelho_list %}
    <div id="tabelaRep">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cpf</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Ações</th>
                </tr>

                </thead>
                <tbody>
                {% for todo in adiminespelho_list %}
                    <tr>
                        <th scope="row"><a href="{% url 'dadosAdmin' todo.pk %}">  {{ todo.pk }} </a></th>
                        <th scope="row"><a href="{% url 'dadosAdmin' todo.pk %}"> {{ todo.nome }}</a></th>
                        <th scope="row">{{ todo.cpf }}</th>
                        <th scope="row">{{ todo.telefone }}</th>


                        <td>
                            <a href="{% url 'adimin_atualizar' pk=todo.pk %}"
                               class="btn btn-secondary btn-sm">
                                <img style="display: inline-block; width: 15px; height: 15px" src="{% static 'imagens/pen 1.svg' %}" alt="editar"> Editar
                            </a>
                            <a href="{% url 'adimin_deletar' pk=todo.pk %}" class="btn btn-danger btn-sm"><img style="display: inline-block; width: 15px; height: 15px;" src="{% static 'imagens/delete.svg' %}" alt="excluir"> Excluír</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p>Não há Administrador cadastrado</p>
    {% endif %}



   <div id="pass_pag" class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            {% if request.GET.nome %}
                <a class="page-link" href="?page=1&nome={{ request.GET.nome }}">&laquo; Primeira</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{ request.GET.nome }}">Anterior</a>
            {% else %}
                <a class="page-link" href="?page=1">&laquo; Primeira</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
        {% endif %}

        <span class="current-page">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            {% if request.GET.nome %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{ request.GET.nome }}">Próxima</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{ request.GET.nome }}">Última &raquo;</a>
            {% else %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        {% endif %}
    </div>

    <br>
    <a href="{% url 'homeAdmin' %}" class="btn btn-primary">Voltar</a>


{% endblock content %}
